.mui-slider-item img{
	width: 100%;
	height: 100%;
}

#btn-start {
	position: absolute;
	bottom: 70px;
	width: 60%;
	padding: 5px;
	border-radius: 50px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
